.navbar {
	background-color: white;
}

.setu-name {
	background-color: #4aaaa5;
	text-align: center;
	line-height: 45px;
	height: 50px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: large;
	font-weight: bold;
}

#bio-image {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#social-image {
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}

.row {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h2, h3 {
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

.main-bio {
	float: left;
}

.sidebar {
	float: right;
}

.main-bio, .sidebar {
	background-color: white;
}

#exampleInputMessage1 {
	height: 200px;
}

.btn {
	background-color: #4aaaa5;
	margin-bottom: 20px;
}

.hangman, .rpg, .trivia, .rutgers, .rock {
	height: 200px;
	width: 200px;
	margin-left: 100px;
	margin-bottom: 20px;
	padding: 0px;
}

.hangman {
	background-image: url(../images/hangman.jpg);
	background-size: 100% 100%;
}

.rpg {
	background-image: url(../images/rpg.jpg);
	background-size: 100% 100%;
}

.trivia {
	background-image: url(../images/trivia.jpg);
	background-size: 100% 100%;	
}

.rutgers {
	background-image: url(../images/rutgers.jpg);
	background-size: 100% 100%;
}

.rock {
	background-image: url(../images/tv.jpg);
	background-size: 100% 100%;
}

.text-box {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	height: 50px;
	width: 200px;
	line-height: 50px;
	margin-top: 140px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
	background-image: url(../images/concrete-texture.png);
}

footer {
	background-color: #666666;
	color: #BDC3C7;
	border-top: 5px solid #4aaaa5;
	margin-top: 40px;
	height: 100px;
	text-align: center;
	line-height: 90px;
	clear: both;
}